@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Space Mono", serif;
  font-weight: 700;
}
:root {
  --Strongcyan: hsl(172, 67%, 45%);
  --Verydarkcyan: hsl(183, 100%, 15%);
  --Darkgrayishcyan: hsl(186, 14%, 43%);
  --Grayishcyan: hsl(184, 14%, 56%);
  --Lightgrayishcyan: hsl(185, 41%, 84%);
  --Verylightgrayishcyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
label {
  color: var(--Darkgrayishcyan);
}
input {
  background-color: var(--Verylightgrayishcyan);
  color: var(--Verydarkcyan);
  border: none;
  height: 35px;
}
input:focus {
  color: var(--Verydarkcyan);
  cursor: pointer;
  border: 2px solid var(--verycyan);
}
input::placeholder {
  color: var(--Darkgrayishcyan);
}

.home {
  font-family: "Arial", sans-serif;
  background-color: var(--Lightgrayishcyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 8px;
  text-align: center;
  line-height: 35px;
}
.dollscontainer {
  position: relative;
}
.selecttip {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 500px;
  line-height: 51px;
}
@media (max-width: 768px) {
  .selecttip {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

.dolls {
  position: absolute;
  top: 10px;
  left: 15px;
}
.select {
  padding: 5px;
}

.calculator {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.result-section {
  background-color: #004643;
}

.text-success {
  font-weight: bold;
  font-size: 18px;
}
.btnstrongcyan {
  color: var(--Strongcyan);
}
.btn-verydarkcyan {
  color: var(--Verydarkcyan);
}
.errormsg {
  color: rgb(212, 109, 109);
}
.personcontainer {
  position: relative;
}
.person {
  position: absolute;
  top: 10px;
  left: 15px;
}
.perpersoncard {
  background-color: var(--Verydarkcyan);
}

.resetbtn {
  background-color: var(--Strongcyan);
  color: var(--Verydarkcyan);
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.resetbtn:hover {
  background-color: var(--Lightgrayishcyan);
}

.btntip:hover {
  background-color: var(--Lightgrayishcyan);
  color: var(--Verydarkcyan);
}
.tipbtn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
}
.custom {
  width: 100%;
  height: 50px;
}

.btntip {
  background-color: var(--Verydarkcyan);
  color: var(--White);
}
.btntipselected {
  background-color: var(--Strongcyan);
}

.amount {
  font-size: 24px;
  color: var(--Strongcyan);
}
.text {
  font-size: 18px;
}
.subtext {
  font-size: 12px;
  color: var(--Lightgrayishcyan);
}
.numberofpeople {
  font-size: small;
}
.border-2 {
  border: 3px solid rgb(212, 109, 109);
}
.border-2:focus {
  border: 3px solid rgb(212, 109, 109);
}
